node_modules
.DS_Store
!**/.env.example
.next
dist
.expo
.turbo
*.tsbuildinfo
apps/web/.next
apps/mobile/.expo
apps/mobile/ios
apps/mobile/android
coverage
uploads
.vercel
*.log

.projects/cache
.projects/vault
.projects/state.test.json
.projects/state.local.test.json
.env
.env.*
!.env.example
